body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 84px;
    font-weight: 700;
}

h1 span {
    color: orange;
}

.hdr {
    display: flex;
    margin-top: 80px;
}

.hdr-item {

    width: 50%;
    padding: 30px;

}

.hdr-item img {
    width: 100%;
}

.hdr-item a {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px;
    border-radius: 15px;
}

.down {
    margin-top: 20px;
    margin-left: 100px;
}

.paragraph {
    margin-bottom: 35px;
}

/* <!--  about section --> */

.about {
    background-color: rgba(247, 244, 232, 0.767);
    padding: 50px;
}


.about-itm img {
    width: 50%;
    margin-left: 80px;
}


.about-itm {
    width: 50%;
    padding: 20px;
}

.about-itm a {
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px;
    border-radius: 15px;
}





#pr {
    margin-top: 20px;
    color: rgb(70, 68, 68);
    margin-bottom: 50px;
}



/* recepies section */
.rcp{
    margin-top: 80px;
   
}

.recipies {
    text-align: center;
  
    
}

.recipies p{
  
    text-align: center;
    font-size: 27px;
   
}


.html{
    display: flex;
    padding: 0 50px;
}

.html-itm{
  background-color: rgb(246, 249, 250);
    margin: 100px;
    padding: 50px;
    border-radius: 150px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0,0,0,0.1);
    
}

.html-img img{
    width: 100%;
   
}



.work{
    margin-top: 80px;
    background-color: aliceblue;
   
}
.work-tm{
    display: flex;
    margin-left: 450px;
}

.work-itm{
    width: 30%;
}


footer{
    text-align: center;
    background-color: rgba(12, 11, 6, 0.87);
}
.all{
   padding-top: 50px;
   padding-bottom: 50px;
}
.all p{
    color: whitesmoke;
}



.spn{
    color: orange;
}
